<% layout("/layouts/boilerplate") %>
<style>
  #filters{
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.8;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
    scale: 1.1;
     transition: all 0.3s ease-in-out;
  }
  .filer p{
    font-size: 0.8rem;
    font-weight: 500;
  }

  .tax-info{
    display: none;
  }

  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.2rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
</style>   
<div id="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>
        <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
      </div>
        <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </div>
       <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </div>
       <div class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
      </div>
       <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </div>
      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
      </div>
       <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>
        <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
      </div>
      <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Display total after Taxes</label>
</div>
</div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center ">
    <% for (let listing of allListings) { %>
        <a class="text-decoration-none text-dark" href="/listings/<%= listing._id %>">
   <div class="card listing-card col" >
  <img src="<%= listing.image.url %>" class="card-img-top " alt="listing" style="height: 20rem; object-fit: cover;">
  <div class="card-body">
    <p class="card-text plus-jakarta-sans"><b><%= listing.title %></b>
    <br>
   &#8377;<%= listing.price.toLocaleString('en-IN') %> / Night <i class="tax-info">&nbsp; +18% GST</i>
    </p>
  </div>
</div>
</a>
 <% } %>
 <script>
  let taxSwitch = document.getElementById('switchCheckDefault');
  taxSwitch.addEventListener('click', () => {
    let taxInfo = document.getElementsByClassName('tax-info');
   for(info of taxInfo)
     info.style.display = taxSwitch.checked ? 'inline' : 'none';
  })
 </script>
</div>
   
